*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*! placed box-sizing:border box in the body selector, this is a better practice in css. */
}

html {
  font-size: 62.5%;
  /*! 10px default in the browser (10/16) and still allowing the user to override this value for better sight for example. */

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px / 9/16=56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px / 8/16=50%
  }

  @include respond(phone) {
    font-size: 30%; //1rem = 4.8px / 8/16=30%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px / 12/16=75%
  }

}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port){
    padding: 0;
  }
}